html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: monospace;
    user-select: none;
    background-color: rgb(50, 50, 50);
    overflow: hidden;
    touch-action: none;
}

canvas {
    height: 100%;
    background-color: white;
    image-rendering: pixelated;
    box-shadow: 3px 3px 20px black;
}

canvas:hover {
    cursor: crosshair;
}

.palette { 
    background-color: white;
    position: absolute;
    bottom: 0;
    box-shadow: 0px -2px 10px 0px rgb(50, 50, 50);
    display: flex;
    flex-wrap: wrap;
    padding: 12px 12px;
    transition: transform .2s ease-out;
    transform: translateY(100%);
}

.shown {
    transform: none;
}

.palette > div {
    flex: 1;
    height: 32px;
    width: 128px;
    min-width: 32px;
    margin: 2px;
}

@media (max-width: 1200px) {
    .palette > div {
        flex-basis: calc(100% / 16 - 4px);
    }
}

@media (max-width: 600px) {
    .palette > div {
        flex-basis: calc(100% / 8 - 4px);
    }
}

@media (max-width: 315px) {
    .palette > div {
        flex-basis: calc(100% / 4 - 4px);
    }
}

.top-left {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    gap: 16px;
}

.tools,.undo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgb(50, 50, 50);
    background-color: rgb(230, 230, 230);
}

.undo {
    height: 48px;
    width: 48px;
}

.tools > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 16px;
}

.connected {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: rgb(230, 230, 230);  
    height: 48px;
    width: 72px;
    font-size: 26px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgb(50, 50, 50);
}

.selected {
    box-shadow: 0px 2px 4px 2px rgb(100, 100, 100);
    outline: 2px solid white;
    outline-offset: -2px;
}

.top-left .selected {
    background-color: white;   
}

.disconnected-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.disconnected-overlay.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}